# Object files
*.o
*.ko
*.dSYM

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
qtree_testbench
gen_queries
*.exe
*.out
*.app

# Test artefacts
tmp*
dictionary*
vcore.*
vgcore.*
tests/data

# Other files
.directory
.clang_complete
*.idea
*.swp
.DS_Store
*.d
*~
