# Object files
*.o
*.ko
*.dSYM

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
qtree_testbench
gen_queries
gen_queries_percent
chazelle_reduce
check_qsi
*.exe
*.out
*.app
bin/

# Test artefacts
tmp*
dictionary*
vcore.*
vgcore.*
tests/data

# Other files
.directory
.clang_complete
*.idea
*.swp
.DS_Store
*.d
*~

# Datasets
data_sets/*.csv
data_sets/*.csv_raw
data_sets/*.txt
data_sets/*.queries*
data_sets/*.min_*
data_sets/*.max_*
data_sets/*.maxatt
data_sets/*.qsi_*
data_sets/*.k2
data_sets/*.ofb
